
button{
    color: white;
    font-size: 20px;
    
}

.btndelete{
    width: 55px;
    background-color: rgba(232, 24, 24, 0.861);
    margin-right: 5px;
}

.btnupdate{
    width: 55px;
    background-color: rgba(0, 156, 0, 0.698);
}

button:hover{
    scale: 1.1;
}


@media screen and (max-width: 1450px) {
    .btndelete{
        
        margin-bottom: 5px;
    }
  }



